streamlit==1.31.0
groq==0.4.2
spacy==3.7.2
sentence-transformers==2.3.1
chromadb==0.4.22
pandas==2.1.4
python-docx==1.1.0
PyPDF2==3.0.1

# Prevent torch GPU download
torch==2.1.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# spaCy model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
